*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(140, 180, 120);
}

#penal{
 width: 75%;
 height: 75%;
 border-radius: 30px;
 overflow: hidden;
 background-color: rgb(245, 243, 238);
scale: 1.0s;
}

#pt{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 100%;
    height: 60px;
    background-color: rgb(126, 144, 196);
}

#elem{
   width: 10%;
   display: flex;
   align-items: center;
   justify-content: center;

}


.box{
margin: 0px 10px;
padding: 10px;
font-weight: 15px;
background-color: rgb(242, 237, 237);
display: flex;
align-items: center;
border-radius: 5px;
color: black;
}
#pbtm{
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: calc(100%-100px);
    padding: 10px 10px;
   
}

#bubble{
    display: flex;
    align-items: center;
   justify-content: center;
   padding:10px 10px;

   width: 45px; 
   height:  45px;
   background: #57e17a;
   border-radius: 50%;
}

#bubble:hover{
    cursor: pointer;
   background: #045737;
   color: aliceblue;
   }